$color-main: rgba(1,148,243,1);

$font-weight-top: 800;
$font-weight-mid: 700;
$font-weight-bottom: 600;

$border-radius-main: 5px;
$border-radius-litle: 3px; 

$font-size-button: 0.875rem;

$padding-sign-in: 15px;

$background-color-orange: rgba(255,94,31,1);