* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.dp-n {
  display: none !important;
}

.background-color-orange {
  background-color: rgb(255, 94, 31) !important;
}

.container {
  position: relative;
}

.container .header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 10px 20px;
  /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3); */
}

.container .header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

}

.container .header__logo-text {
  font-size: 28px;
  /* font-family: cursive; */
}

.container .header__logo-img {
  font-size: 25px;
  color: rgb(1, 148, 243);
}

.container .header__sign {
  display: flex;
  gap: 5px;
}

.container .header__sign-button {
  all: unset;
  padding: 10px 16px;
  font-size: 1rem;
  cursor: pointer;
  color: white;
  font-weight: 700;
  position: relative;
}

.container .header__sign-button>span {
  position: relative;
  z-index: 1;

}

.container .header__sign-button::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(1, 148, 243);
  clip-path: circle(0% at 50% 50%);
  transition: all 0.5s linear;
  border-radius: 10px;
}

.container .header__sign-button:hover::after {
  clip-path: circle(150% at 50% 50%);
}

.container .background-opacity {
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  opacity: 0;
  width: 100vw;
  height: 100vh;
  transition: 0.4s ease-in-out;
  z-index: 2;
}

.container .sign {
  position: fixed;
  width: 20%;
  background-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  transition: 0.4s ease;
  z-index: 3;
}

.container .sign-item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 20px;
  position: relative;
}

.container .sign-item__close {
  position: fixed;
  right: 15px;
  top: 15px;
  font-size: 15px;
  color: gray;
  cursor: pointer;
}

.container .sign-item__close:hover {
  color: #000000;
}

.container .sign-item__title {
  font-size: 25px;
  font-weight: 500;
}

.container .sign-item__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container .sign-item__form-input {
  all: unset;
  text-align: start;
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 3px;
}

.container .sign-item__form-input:hover {
  outline: 1px solid rgb(228, 228, 228);
}

.container .sign-item__form-input:focus {
  outline: 1px solid rgb(129, 129, 129);
}

.container .sign-item__form-submit {
  all: unset;
  font-weight: 600;
  background-color: rgb(242, 243, 243);
  padding: 10px;
  color: rgb(205, 208, 209);
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.body__image__instance {
  width: 100%;
}

.body__background__pattern {
  margin: 0 auto;
  width: 1000px;
  transform: translateY(-150px);

  background: linear-gradient(45deg, #ffffff 20%, transparent 20%), linear-gradient(135deg, transparent 80%, #ffffff 80%), radial-gradient(#ffffff 20%, transparent 21%);
  background-size: 4em 4em;
  background-color: #f8f8f8;
  opacity: 1;
  padding: 30px;

  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.pattern__title {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  background-clip: text;
  color: transparent;
}

.pattern__short {
  padding-top: 30px;
  text-align: center;
  font-size: 20px;
  padding-bottom: 30px;
}

.pattern__content {
  text-align: center;
  font-style: italic;
  line-height: 25px;
}

.Learn__More {
  all: unset;
  margin-top: 30px;
  padding: 15px 20px;
  background-color: #30CFD0;
  border-radius: 15px;
  transition: all 0.5s;
  cursor: pointer;
}

.Learn__More:hover {
  transform: scale(0.8);
}

.body__rooms {
  margin: 0 auto;
  transform: translateY(-50px);
  width: 1200px;
  height: 700px;
  text-align: center;
}

.viewAllRooms {
  margin-top: 30px;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: #171717;
  padding: 1.2em 2.2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.viewAllRooms span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color: #30CFD0;
  border-radius: 50%;
  transition: .6s ease;
}

.viewAllRooms span:nth-child(6) {
  position: relative;
}

.viewAllRooms span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

.viewAllRooms span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

.viewAllRooms span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

.viewAllRooms span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

.viewAllRooms span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

.viewAllRooms:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(10);
  transition: 1.5s ease;
}

.room__content {
  margin-top: 30px;
  font-size: 20px;
  color: #6f6f6f;
}

.room__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.container_item {
  position: relative;
  width: 400px;
  height: 300px;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid #adadad;
  text-align: center;
  align-items: center;
}

.container_item>img {
  height: 100%;
  object-fit: cover;
  transition: all 0.5s;
}

.container_item:hover img {
  height: 130%;
  opacity: 0.5;
}

.container_item:hover .bottom__infor {
  bottom: 15px;
}

.bottom__infor {
  position: absolute;
  bottom: -200px;
  left: 15px;
  text-align: left;
  transition: all 0.5s;
  font-weight: bold;
}

.bottom__infor i {
  color: rgb(255, 0, 0);
}

.infor__cost__maxPeople {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
}

.infor__cost {
  all: unset;
  padding: 10px 15px;
  background-color: #330867;
  color: white;
  border-radius: 10px;
}

.infor__maxPeople {
  all: unset;
  padding: 10px 15px;
  background-color: #30CFD0;
  border-radius: 10px;
}

.room__item__title {
  margin-top: 15px;
  font-size: x-large;
}

.book_now {
  margin-top: 15px;
  position: relative;
  padding: 12px 35px;
  background: #30CFD0;
  font-size: 17px;
  font-weight: bold;
  color: #181818;
  border: 3px solid #30CFD0;
  border-radius: 8px;
  box-shadow: 0 0 0 #30CFD08c;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #30CFD0);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #30CFD0);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #30CFD0);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #30CFD0);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #30CFD0);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #30CFD0);
  z-index: -5;
  transition: all 0.8s ease;
}

.book_now:hover {
  background: transparent;
  color: #30CFD0;
  box-shadow: 0 0 25px #30CFD08c;
}

.book_now:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #30CFD0);
  z-index: 2;
}

.book_now:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #30CFD0);
  z-index: 2;
}

.book_now:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #30CFD0);
  z-index: 2;
}

.book_now:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #30CFD0);
  z-index: 2;
}

.book_now:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #30CFD0);
  z-index: 2;
}

.book_now:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #30CFD0);
  z-index: 2;
}

.fil0 {
  fill: #30CFD0;
}

.body__amenity__service {
  margin: 0 auto;
  width: 1200px;
  margin-bottom: 30px;
  text-align: center;
}

.body__background__amenity__service {
  background: linear-gradient(45deg, #2c2c2c80 25%, transparent 21%), linear-gradient(315deg, #2c2c2c80 25%, transparent 21%), linear-gradient(45deg, #2c2c2c 10%, transparent 11%), linear-gradient(315deg, #2c2c2c 10%, transparent 11%), linear-gradient(135deg, #2c2c2c80 25%, transparent 21%), linear-gradient(225deg, #2c2c2c80 25%, transparent 21%), linear-gradient(135deg, #2c2c2c 10%, transparent 11%), linear-gradient(225deg, #2c2c2c 10%, transparent 11%), radial-gradient(#2c2c2c 20%, transparent 21%);
  background-size: 3em 3em;
  background-color: #000000;
  opacity: 1;

  padding: 15px;
  margin-top: 20px;
  border-radius: 20px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.amenity__service__list {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.amenity__service__item {
  color: white;
  text-align: center;
}

.amenity__service__item>img {
  width: 100px;
}

.card {
  position: relative;
  width: 350px;
  height: 200px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f2f2f2;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.list__service {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.service__item {
  color: black;
  text-align: center;
}

.card__rating {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: #30CFD0;
}

.containerContactUs{
  background: linear-gradient(45deg, #2c2c2c80 25%, transparent 21%), linear-gradient(315deg, #2c2c2c80 25%, transparent 21%), linear-gradient(45deg, #2c2c2c 10%, transparent 11%), linear-gradient(315deg, #2c2c2c 10%, transparent 11%), linear-gradient(135deg, #2c2c2c80 25%, transparent 21%), linear-gradient(225deg, #2c2c2c80 25%, transparent 21%), linear-gradient(135deg, #2c2c2c 10%, transparent 11%), linear-gradient(225deg, #2c2c2c 10%, transparent 11%), radial-gradient(#2c2c2c 20%, transparent 21%);
  background-size: 3em 3em;
  background-color: #000000;
  opacity: 1;

  padding: 30px 0;
  color: white;
}

.containerContactUs .content {
  margin: 0 auto;
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.containerContactUs .content .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
}

.content .left-side::before {
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6;
}

.content .left-side .details {
  margin: 14px;
  text-align: center;
}

.content .left-side .details i {
  font-size: 30px;
  color: #30CFD0;
  margin-bottom: 10px;
}

.content .left-side .details .topic {
  font-size: 18px;
  font-weight: 500;
}

.content .left-side .details .text-one,
.content .left-side .details .text-two {
  font-size: 14px;
  color: #afafb6;
}

.containerContactUs .content .right-side {
  width: 75%;
  margin-left: 75px;
}

.content .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #30CFD0;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #F0F1F8;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}

.right-side .input-box textarea {
  padding-top: 6px;
}

.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: #30CFD0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #5029bc;
}

@media (max-width: 950px) {
  .containerContactUs {
    width: 90%;
    padding: 30px 40px 40px 35px;
  }

  .containerContactUs .content .right-side {
    width: 75%;
    margin-left: 55px;
  }
}

@media (max-width: 820px) {
  .containerContactUs {
    margin: 40px 0;
    height: 100%;
  }

  .containerContactUs .content {
    flex-direction: column-reverse;
  }

  .containerContactUs .content .left-side {
    width: 100%;
    flex-direction: row;
    margin-top: 40px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .containerContactUs .content .left-side::before {
    display: none;
  }

  .containerContactUs .content .right-side {
    width: 100%;
    margin-left: 0;
  }
}